/* src/App.css */
.bar {
    fill: steelblue;
  }
  
  .x-axis path,
  .x-axis line {
    shape-rendering: crispEdges;
  }
  
  .y-axis path,
  .y-axis line {
    shape-rendering: crispEdges;
  }
  
  .bar:hover {
    fill: orange;
  }
  